@font-face {
  font-family: 'c-iconfont';  /* project id 1754354 */
  src: url('//at.alicdn.com/t/font_1754354_qelie8s63qq.eot');
  src: url('//at.alicdn.com/t/font_1754354_qelie8s63qq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1754354_qelie8s63qq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1754354_qelie8s63qq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1754354_qelie8s63qq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1754354_qelie8s63qq.svg#iconfont') format('svg');
}

 [class^="c-icon-"], [class*=" c-icon-"] {
  font-family: "c-iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

.c-icon-search:before { content: "\e690"; }
.c-icon-address:before { content: "\e711"; }
.c-icon-right:before { content: "\e6c3"; }
.c-icon-phone:before { content: "\e712"; }
.c-icon-image:before { content: "\e715"; }
.c-icon-close:before { content: "\e66a"; }
.c-icon-select:before { content: "\e695"; }
.c-icon-select_active:before { content: "\e697"; }
.c-icon-moren:before { content: "\e719"; }
.c-icon-refresh:before { content: "\e6c5"; }
.c-icon-add-preview:before { content: "\e716" }
.c-icon-add:before { content: "\e714" }
.c-icon-success:before { content: "\e656"; }
